@page
@model JqueryWebApp.EventDetailModel
@{
    ViewData["Title"] = "EventDetail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section Header{
    <style>
        .header-click {
            cursor: pointer;
        }
    </style>
}

<h1>Event Details</h1>

<h3> Event ID: @Model.EventID</h3>
<br />
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" readonly="readonly" id="Title" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" multiple readonly="readonly" id="Description" />
        </div>
        <div class="form-group">
            <label>Link</label>
            <input type="text" class="form-control" readonly="readonly" id="Link" />
        </div>
        <hr />
        <div class="form-group">
            <label>Categories</label>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="header-click" data-clickdata="id" data-sort="">ID<i class="fa fa-fw fa-sort"></i> </th>
                        <th scope="col" class="header-click" data-clickdata="Title" data-sort="">Title<i class="fa fa-fw fa-sort"></i> </th>
                    </tr>
                </thead>
                <tbody id="bodyCategories">
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<a href="/" class="btn btn-info">Back to Events</a>

@section Scripts{
    <script src="@Url.Content("~/Scripts/Sorting.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('.header-click').click(function () {
                var sort = SortTable(this);
                GetEvent({
                    EventID:'@Model.EventID',
                    SortByField: $(this).data('clickdata'),
                    SortMethod: sort
                });
            });
            function GetEvent(model) {
                $("#bodyCategories").empty();
                $.ajax({
                        url: 'https://localhost:44300/api/Event/GetByID',
                        dataType: 'json',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(model),
                        success: function (data) {
                            $('#Title').val(data.title);
                            $('#Link').val(data.link);
                            $('#Description').val(data.description);
                            $(data.categories).each(function (index, element) {
                                var elementRow = $('<tr>');
                                var elementID = $("<td>", { "text": element.id });
                                var elementTitle = $("<td>", { "text": element.title });
                                elementRow.append(elementID);
                                elementRow.append(elementTitle);
                                $('#bodyCategories').append(elementRow);
                            });
                        },
                        error: function (error) {
                            console.log(error);
                        }
                });
            }
            function init() {
                GetEvent({EventID:'@Model.EventID'});
            }
            init();
        });
    </script>
}