@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>Events</h2>
<div class="text-center">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Is Closed</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="bodyEvents">
            <tr>
            </tr>
        </tbody>        
    </table>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {

            $.ajax({
                url: 'https://localhost:44300/api/Event/',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data && data.events) {
                        $("#bodyEvents").empty();
                        $(data.events).each(function (index, element) {
                            var elementRow = $('<tr>');
                            var elementID = $("<td>", { "text": element.id });
                            var elementTitle = $("<td>", { "text": element.title });
                            var elementIsClosed = $("<td>", { "text": element.IsClosed ? 'Yes' : 'No' });
                            var elementLink = $('<td>').append($("<a>", { "href": "\Event\\" + element.id, "text": "Details" }));
                            elementRow.append(elementID);
                            elementRow.append(elementTitle);
                            elementRow.append(elementIsClosed);
                            elementRow.append(elementLink);
                            $('#bodyEvents').append(elementRow);
                            
                        });
                    }
                    alert('Veio do ceu!');
                },
                error: function () {
                    debugger;
                }
            })
        });
    </script>
}