@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Header{
    <style>
        .header-click {
            cursor: pointer;
        }
    </style>
}
<br />
<h2>Events</h2>
<br />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Filters</h5>
        <div class="form-group">
            <div class="col-6">
                <label>Status </label>
                <select class="form-control" id="status">
                    <option></option>
                    <option value="closed">Closed</option>
                    <option value="open">Open</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-6">
                <label>Categories</label>
                <select class="form-control" id="categories">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-secondary" id="applyFilters">Apply filters</button>
            <button class="btn btn-primary" id="cleanFilters">Clean filters</button>
        </div>
    </div>
</div>
<br />
<h3>List of Events</h3>
<div class="text-center">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="header-click" data-clickdata="id" data-sort="">ID<i class="fa fa-fw fa-sort"></i> </th>
                <th scope="col" class="header-click" data-clickdata="Title" data-sort="">Title<i class="fa fa-fw fa-sort"></i> </th>
                <th scope="col">Is Closed</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="bodyEvents">
            <tr>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {

            $('.header-click').click(function () {
                var sort = SortTable(this);
                GetEvents({
                    StatusEvent: $('#status').val(),
                    Category: $('#categories').val(),
                    SortByField: $(this).data('clickdata'),
                    SortMethod: sort
                });
            });

            $('#applyFilters').click(function () {
                GetEvents({ StatusEvent: $('#status').val(), Category: $('#categories').val(), SortByField: '' });
            });

            $('#cleanFilters').click(function () {
                $('#status,#categories').val('');
                GetEvents({});
            });

            function GetEvents(search) {
                $("#bodyEvents").empty();
                $.ajax({
                    url: 'https://localhost:44300/api/Event',
                    dataType: 'json',
                    method: 'POST',
                    data: JSON.stringify(search),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data && data.events) {
                            $(data.events).each(function (index, element) {
                                var elementRow = $('<tr>');
                                var elementID = $("<td>", { "text": element.id });
                                var elementTitle = $("<td>", { "text": element.title });
                                var elementIsClosed = $("<td>", { "text": element.isClosed ? 'Yes' : 'No' });
                                var elementLink = $('<td>').append($("<a>", { "href": "\Event\\" + element.id, "text": "Details" }));
                                elementRow.append(elementID);
                                elementRow.append(elementTitle);
                                elementRow.append(elementIsClosed);
                                elementRow.append(elementLink);
                                $('#bodyEvents').append(elementRow);

                            });
                        }
                        else {
                            alert('Data not found!');
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            function GetCategories() {
                $('#categories option').empty();
                $.ajax({
                    url: 'https://localhost:44300/api/Category',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data) {
                            $(data).each(function (index, element) {
                                var option = $("<option>", { "value": element.id, 'text': element.title });
                                $('#categories').append(option);
                            });
                        }
                        else {

                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            function SortTable(item) {
                var sort = $(item).data('sort');
                if (sort.length === 0) {
                    sort = 'asc';
                    $(item).find('i').removeClass('fa-sort');
                    $(item).find('i').addClass('fa-caret-up');
                }
                else if (sort === 'asc') {
                    sort = 'desc';
                     $(item).find('i').removeClass('fa-caret-up');
                    $(item).find('i').addClass('fa-caret-down');
                }
                else if (sort === 'desc') {
                    sort = 'asc';
                     $(item).find('i').removeClass('fa-caret-down');
                    $(item).find('i').addClass('fa-caret-up');
                }
                $(item).data('sort', sort);
                return sort;
            }


            function init() {
                GetEvents({});
                GetCategories();
            }
            init();
        });
    </script>
}
