@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>Events</h2>
<div class="text-center">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="bodyEvents">
            <tr>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {

            $.ajax({
                url: 'http://localhost:52166/api/Event/',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data && data.events) {
                        $("#bodyEvents").empty();
                        $(data.events).each(function (index, element) {
                            $('#bodyEvents').append("<tr><td>" + element.id + "</td> <td>" + element.title + "</td><td><a href='\Event\\" + element.id + "'>Details</a></td></tr>");
                        });
                    }
                },
                error: function () {
                    debugger;
                }
            })
        });
    </script>
}