@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Header{
    <style>
        .header-click {
            cursor: pointer;
        }
    </style>
}
<br />
<h2>Events</h2>
<br />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Filters</h5>
        <div class="form-group">
            <div class="col-6">
                <label>Status </label>
                <select class="form-control" id="status">
                    <option></option>
                    <option value="closed">Closed</option>
                    <option value="open">Open</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-6">
                <label>Categories</label>
                <select class="form-control" id="categories">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-secondary" id="applyFilters">Apply filters</button>
            <button class="btn btn-primary" id="cleanFilters">Clean filters</button>
        </div>
    </div>
</div>
<br />
<h3>List of Events</h3>
<div class="text-center">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="header-click" data-clickdata="id" data-sort="">ID<i class="fa fa-fw fa-sort"></i> </th>
                <th scope="col" class="header-click" data-clickdata="Title" data-sort="">Title<i class="fa fa-fw fa-sort"></i> </th>
                <th scope="col">Is Closed</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="bodyEvents">
            <tr>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/Sorting.js")"></script>
    <script src="@Url.Content("~/Scripts/IndexController.js")"></script>    
}
